name: Update Profile Stats
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  update-loc:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filename: github-metrics.svg
          # base: ""
          plugin_lines: yes
          # plugin_lines_history: 0
          # plugin_lines_sections: total
          # plugin_lines_skipped: markdown, json, yaml
          # config_output: markdown 
          # config_order: lines
