name: Update Profile Stats
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  update-loc:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filename: .github/assets/github-metrics.svg
      
          # scan all your owned repos
          base: repositories
          repositories_affiliations: owner
          # repositories_forks: false
          repositories_batch: 100

          # visual + LOC
          plugin_languages: yes
          plugin_lines: yes
          plugin_lines_sections: total
          plugin_lines_skipped: markdown, json, yaml
