name: Update Profile Stats
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  update-loc:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: "" 
          plugin_lines: yes
          # This tells the action to update your README tags directly
          template: repository
          config_output: markdown
          # This ensures it specifically looks for your tags
          config_order: lines